@model Piezas2.Models.RecambiosCocheModel
@{
  ViewData["Title"] = $"Recambios para los coches {Model.Marca} {Model.Modelo} con motor {Model.Motor}";
}

<script type="text/javascript">
function ImgCenter(e)
  {
  var img = e.currentTarget;

  if( img.naturalWidth > img.naturalHeight )
    { img.style.width = "100%"; img.style.height = "auto"; }
  else
    { img.style.width = "auto"; img.style.height = "100%"; }
  };
</script>

<div class="main-frame">

  <h1> Recambios para coches <strong> @Model.Marca @Model.Modelo con motor @Model.Motor </strong> al alcance de tu bolsillo.</h1>
  <p>Esta tienda distribuye recambios para coche de diferentes marcas de diferentes fabricantes con excelente relación precio/calidad. Cada pieza de repuesto ha sido escogida en base a la experiencia de varios mecánicos en cuanto a durabilidad en las condiciones de estado de carreteras y calles, temperatura y humedad de diferentes países.</p>
  <h2>Seleccione un recambio para el coche @Model.Marca @Model.Modelo con motor @Model.Motor.</h2>

  @foreach( var grp in Model.Grupos )
    {
    var Items = grp.Items;
    <h3 class="item-boxs-title">Recambios para la categoria <strong>@grp.Nombre</strong>.</h3>
    <div class="item-boxs">
      @foreach( var item in Items )
        {
        <div class="item-box" data-id="@item.Id" onclick="location='/recambio/@item.Id/@item.Nombre'">
          <div class="item-box-img" >
              @{var foto = item.Foto!=null? item.Foto : "/images/Items/NoImagen.png"; } 
             <img title="Recambio @item.Nombre" src="@foto" alt="Foto de @item.Nombre" onload="ImgCenter(event)"/>
          </div>
          <div class="item-box-info">
            <h3>@item.Nombre</h3>
            <span>Precio: <strong>@item.Precio</strong></span>
          </div>
          <div class="item-over"></div>
        </div>
        }
    </div>
    <div class="item-boxs-more"> 
      @if( Items.Count>=4 )
        {
        <a href="javascript:BuscarMas( @Model.MarcaId, @Model.ModeloId, @Model.MotorId )"> Ver mas ... </a> 
        }
    </div>
    }

  @if( Model.Grupos.Count == 0  )
    {
    <div class="alert alert-info alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      No de encontro ningún recambio para el coche <strong>@Model.Marca @Model.Modelo con motor @Model.Motor</strong>.
    </div>    
    }

</div>


@section Scripts{
  <script type="text/javascript">

    // Inicia manipuladores y variables, después de cargarse la página
    $( function()
      {
      $(".item-box-img img").on( 'load', CenterImg ); 
      } );


    // Configura la busqueda de recambios para la opcion seleccionada y la manda a ejecutar
    function BuscarMas( IdMarca, IdModelo, IdMotor )
      {
      localStorage[ "lastSelMarca"  ] = IdMarca;
      localStorage[ "lastSelModelo" ] = IdModelo;
      localStorage[ "lastSelMotor"  ] = IdMotor;        

      localStorage[ "lastSelCategor" ] = 0;
      localStorage[ "lastSelFabric"  ] = 0;

      window.location = "/buscar-recambio/info";
      }


  </script>
}

